target/
abandoned/
.classpath
.project
.settings
oraclebmi/apis/*
oraclebmi/models/*
!oraclebmi/apis/__init__.py
!oraclebmi/models/__init__.py
.DS_Store
.idea/
*.pyc
*.egg-info/
build/
dist/
__pycache__/