target/
abandoned/
.classpath
.project
.python-version
.settings
.DS_Store
.idea/
*.pyc
*.egg-info/
.tox/
.cache/
build/
dist/
__pycache__/
env/
docs/_build/
docs/apidocs/
tests/resources/test_debug.log