certifi
configparser==3.5.0
coverage==4.4.1
cryptography==2.1.4
flake8==3.5.0
mock==2.0.0
pyOpenSSL==17.5.0
pytest==3.2.3
pytest-catchlog==1.2.2
pytest-cov==2.5.1
python-dateutil>=2.5.3,<=2.7.3
pytz>=2016.10
sphinx-rtd-theme==0.2.5b2
sphinx==1.6.4
tox==2.9.1
vcrpy==1.11.1
wheel==0.29.0
