alabaster==0.7.9
certifi
configparser==3.5.0
coverage==4.2
cryptography==1.5.2
flake8==3.0.4
httpsig_cffi==15.0.0
pytest==3.0.2
pytest-catchlog==1.2.2
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
sphinx-rtd-theme==0.1.9
six==1.10.0
sphinx==1.4.6
tox==2.3.1
wheel==0.29.0