.. _api-reference:

.. raw:: html

    <script type='text/javascript'>
        var oldDocsHost = 'oracle-bare-metal-cloud-services-python-sdk';
        if (window.location.href.indexOf(oldDocsHost) != -1) {
            window.location.href = 'https://oracle-bare-metal-cloud-services-python-sdk.readthedocs.io/en/latest/deprecation-notice.html';
        }
    </script>

Single Page Reference
~~~~~~~~~~~~~~~~~~~~~~

{% for service_group in service_groups %}

{{service_group.group_header|get_rst_header('=')}}
{{service_group.group_header}}
{{service_group.group_header|get_rst_header('=')}}

{% if service_group.multiple_services %}
---------
 Clients
---------

{% for service in service_group.services %}

{{service|humanize}}
{{service|humanize|get_rst_header('=')}}

.. autoclass:: oci.{{service_group.module_name}}.{{service}}_client.{{service|camelize}}Client
    :members:
    :noindex:

{% endfor %}
{% else %}
--------
 Client
--------

.. autoclass:: oci.{{service_group.module_name}}.{{service_group.first_service}}_client.{{service_group.first_service|camelize}}Client
    :members:
    :noindex:
{% endif %}

--------
 Models
--------

.. automodule:: oci.{{service_group.module_name}}.models
    :special-members: __init__
    :members:
    :undoc-members:
    :imported-members:
    :inherited-members:
    :noindex:

{% endfor %}

================
 Upload Manager
================

.. module:: oci.object_storage
      :noindex:

.. autoclass:: UploadManager
      :special-members: __init__
      :members:
      :noindex:

=============
 Base Client
=============

.. module:: oci.base_client

.. autoclass:: BaseClient
    :members: call_api, request

========
 Config
========

.. module:: oci.config
    :noindex:

.. autofunction:: from_file
    :noindex:

.. autofunction:: validate_config
    :noindex:

.. module:: oci.regions
    :noindex:

.. autofunction:: is_region
    :noindex:

.. autofunction:: endpoint_for
    :noindex:


============
 Exceptions
============

.. automodule:: oci.exceptions
    :members:
    :noindex:

=========
 Signing
=========

.. module:: oci.signer
    :noindex:

.. autofunction:: load_private_key_from_file
    :noindex:

.. autofunction:: load_private_key
    :noindex:

.. autoclass:: Signer
    :noindex:

=====================
 Additional Signers
=====================

.. module:: oci.auth.signers
      :noindex:

.. autoclass:: SecurityTokenSigner
      :special-members: __init__
      :members:
      :noindex:

.. autoclass:: X509FederationClientBasedSecurityTokenSigner
      :special-members: __init__
      :members:
      :noindex:

.. autoclass:: InstancePrincipalsSecurityTokenSigner
      :special-members: __init__
      :members:
      :noindex:

============================
X509 Certificate Retrievers
============================

.. module:: oci.auth.certificate_retriever
      :noindex:

.. autoclass:: UrlBasedCertificateRetriever
      :special-members: __init__
      :members:
      :noindex:

.. autoclass:: PEMStringCertificateRetriever
      :special-members: __init__
      :members:
      :noindex:

.. autoclass:: FileBasedCertificateRetriever
      :special-members: __init__
      :members:
      :noindex:

====================================
X509 Certificate Federation Client
====================================

.. module:: oci.auth.federation_client
      :noindex:

.. autoclass:: X509FederationClient
      :special-members: __init__
      :members:
      :noindex:

.. module:: oci.auth.session_key_supplier
      :noindex:

.. autoclass:: SessionKeySupplier
      :special-members: __init__
      :members:
      :noindex:

===========
 Utilities
===========

.. module:: oci.util
    :noindex:

.. autofunction:: to_dict
    :noindex:

.. autoclass:: Sentinel
    :noindex:

===========
 Waiters
===========

.. module:: oci
    :noindex:

.. autofunction:: wait_until
    :noindex:

===========
 Pagination
===========

.. module:: oci.pagination
    :noindex:

.. autofunction:: list_call_get_all_results
    :noindex:

.. autofunction:: list_call_get_up_to_limit
    :noindex:

.. autofunction:: list_call_get_all_results_generator
    :noindex:

.. autofunction:: list_call_get_up_to_limit_generator
    :noindex:

=========
Request
=========
.. module:: oci.request
    :noindex:

.. autoclass:: Request
    :members:
    :undoc-members:
    :noindex:

=========
Response
=========
.. module:: oci.response
    :noindex:

.. autoclass:: Response
    :members:
    :undoc-members:
    :noindex:
